body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title-body {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2));
    width: auto;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 3px 0 12px 0;
}
.title-body .bg-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#more1 {
    display: none;
}
#more2 {
    display: none;
}
.container-body{
    padding-top:50px;
    padding-bottom:50px;
}
.gallery {
    color: whitesmoke;
    font-size: 20px;
    font-family: Bahnschrift;
}
.bg-1 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color:white;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: darkslategrey;
}
.bg-4 {
    background-color: #ffffff;
    color: #555555;
}
.margin {
    margin-bottom: 45px;
}
.service{
    text-align:left;
    font-family: Gadugi;
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
}
.container-contact {
    padding: 30px;
}
.container-contact .address{
    padding-left:55px;
    padding-bottom:20px;
}
.transactionIndex {
    background: linear-gradient(to right,deepskyblue,navy);
    border-radius: 10px;
    margin:25px;
}

.transactionIndex .searchField {
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.controlField {
    padding-top: 25px;
    padding-left: 25px;
}
.login{
    padding-top:25px;
    padding-left:50px;
}
.loginLabel{
    color:lightyellow;
    font-size:16px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    background:linear-gradient(to right,transparent,white);
    padding-top:5px;
    padding-right:10px;
}
