
@{
    ViewBag.Title = "NotFound";
}

<h2 style="color:red">Not Found</h2>
<hr />
<div>
    <h4 style="color:orangered">You Entered a <b>Wrong</b> Transaction Id</h4>
    <br />
    <p style="color:orange">You Entered a Transaction Id that is not Available in Transaction Record. Please try with correct Transaction Id. </p>
</div>
<div>
    @Html.ActionLink("Back", "Index")
</div>