@{
    ViewBag.Title = "Home Page";
}
    <div class="bg-image">
        <div class="bg-text">
            <h1 style="font-size:50px">SUV LIBRARY</h1>
            <p class="lead">"Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life."</p>
            <p><a href="" class="btn btn-primary btn-lg">Join now &raquo;</a></p>
        </div>
    </div>